<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular</title>
</head>

<body ng-app="myApp">
  <input type="text" ng-model="query" />

  <select ng-model="order">
    <option value="username">Organiser par nom</option>
    <option value="content">Organiser par contenu</option>
  </select>

  <div ng-controller="CommentsCtrl as toto">

    <div ng-repeat="comment in comments | filter:{content: query} | orderBy: order">
      <p>
        <strong>{{ comment.username | uppercase }}</strong>
        {{ comment.content }}
      </p>
      <br>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script>
    const myApp = angular.module('myApp', []);
    myApp.controller('CommentsCtrl', ['$scope', function ($scope) {
      $scope.comments = [{
          "username": "Mcdowell",
          "city": "Skyland",
          "email": "Mcdowell@thistest.com",
          "content": "Commodo commodo amet consectetur ad sunt aliqua magna dolor officia. Nisi qui duis ut nisi adipisicing"
        },
        {
          "username": "Velez",
          "city": "Derwood",
          "email": "Velez@thistest.com",
          "content": "Commodo officia velit deserunt sunt est adipisicing deserunt officia velit excepteur velit officia. Labore"
        },
        {
          "username": "Keller",
          "city": "Lydia",
          "email": "Keller@thistest.com",
          "content": "Anim dolore cupidatat deserunt cupidatat nisi consectetur. Laborum elit minim in duis laboris. Ut i"
        },
        {
          "username": "Jackie",
          "city": "Marenisco",
          "email": "Jackie@thistest.com",
          "content": "Excepteur laborum eiusmod sit est commodo mollit laboris. Ex sunt nisi sunt nisi magna esse cupidatat"
        },
        {
          "username": "Maldonado",
          "city": "Morningside",
          "email": "Maldonado@thistest.com",
          "content": "Aliquip aute excepteur fugiat Lorem nisi tempor occaecat. Nisi deserunt reprehenderit adipisicing elit et"
        },
        {
          "username": "Lelia",
          "city": "Ventress",
          "email": "Lelia@thistest.com",
          "content": "Sit et anim sint cupidatat aliquip. Lorem est incididunt deserunt dolore sit. Anim adipisicing irure"
        },
        {
          "username": "Sofia",
          "city": "Hollymead",
          "email": "Sofia@thistest.com",
          "content": "Sit commodo occaecat dolore est aliquip ex. Voluptate amet officia commodo cupidatat ea. Dolor qui sunt do"
        },
        {
          "username": "Aline",
          "city": "Bancroft",
          "email": "Aline@thistest.com",
          "content": "Labore deserunt sint consectetur ad deserunt fugiat labore. Fugiat nulla occaecat ea laboris occaecat"
        },
        {
          "username": "Rachael",
          "city": "Northridge",
          "email": "Rachael@thistest.com",
          "content": "Laborum esse qui nisi mollit non aute aliqua. Ex non officia deserunt non culpa elit tempor id ullamco."
        },
        {
          "username": "Wilcox",
          "city": "Jackpot",
          "email": "Wilcox@thistest.com",
          "content": "Dolore enim eu eiusmod minim velit esse elit duis reprehenderit. Elit commodo pariatur ad sunt et consequat"
        }
      ];
    }])</script>
</body>

</html>